div>input
{
  border:1px solid green;
  height:35px;
  width:160px;
  text-align: left;
  border-radius: 3px;
}
::placeholder
{
margin-left: 20px;
text-align: center;
}
div>span>a
{
  background-color: black;
  color: white;
  padding: 10px;
  width: 20px;
  border-radius:4px;
}
div>span:nth-child(3)
{
  float:right;
  margin-right: 94px;
  background-color: green;
  color:white;
  padding:10px;
  border-radius: 4px;

}
table
{
  width:50%;
 
  border-collapse: collapse;
}
.active_button
{
  background-color: green;
  color:white;
  width:49px;
}