<app-header></app-header>
 <li style="float:right"><a [routerLink]="['/logout']" > Logout</a></li>
 
<h1>Members List</h1><br>
<div>
<input type="text" placeholder="Filter by Name or ID"/>
&nbsp;&nbsp;
<span>
  <a>Filter</a>
</span>
<span>
  CREATE NEW MEMBER
</span>
</div>
<br>
<table border="1">
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>JOIN DATE</th>
    <th colspan="2">STATUS</th>
  </tr>
  <tr *ngFor="let data of datas">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td></td>
    <td >
     <p class="active_button"> Active</p>
    </td>
    <td> <a href="#">edit</a>|<a href="#">delete</a></td>
    </tr>
</table>